.product{
    margin-bottom: 5px;
    border: 2px solid white;
    margin-bottom: 17px;
    padding: 0 5px 0 5px;
}
.product{
    border: 10px solid green;
    border-radius: 15px;
    margin-bottom: 20px;
}